
.custom-navbar {
    padding-left: 1rem;
    padding-right: 1rem;
  }  

.nav-link {
    text-decoration: none;
    color: black;
}
  
.movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    width: 260px;
    height: 100%;
}
  
  .movie-card-img {
    width: 100%;
    height: 360px; 
    object-fit: cover;   
  }
  
  .movie-card-body {
    margin-top: 1rem;
  }
  
  .movie-card-title {
    margin-bottom: 0;
  }
  
  .movie-card-link {
    color: inherit;
    text-decoration: none;
  }

  .card-button-container {
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding: 0.5rem; 
    width: 260px;
  }

  /*Toggle Button*/
  .form-range {
    width: 30px;
    height: 100px;
  }

  .form-range::-webkit-slider-thumb {
    background-color: gray;
  }
  
  /* Darkmode */
  .light-theme {
    background-color: white;
    color: black;
  }
  
  .dark-theme {
    background-color: black;
    color: white;
  }